## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
combined

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
num_mice = len(combined["Mouse ID"].value_counts())

print(f' There are a total of {num_mice} mice')

 There are a total of 249 mice

In [60]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

# Identify duplicate values as boolean 
dupe_mice = combined.duplicated(subset=["Mouse ID", "Timepoint"])

# Index
dupe_id = combined[dupe_mice]["Mouse ID"].unique().item()

print(f' There is duplicate data for Mouse ID: {dupe_id}')

 There is duplicate data for Mouse ID: g989

In [75]:
# Optional: Get all the data for the duplicate mouse ID.
    # only duplicates: duped_data = combined[dupe_mice].reset_index(drop=True)
duped_mouse_data = combined.loc[combined['Mouse ID'] == dupe_id].reset_index()
duped_mouse_data

,index,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,908,g989,Propriva,Female,21,26,0,45.000000,0
1,909,g989,Propriva,Female,21,26,0,45.000000,0
2,910,g989,Propriva,Female,21,26,5,48.786801,0
3,911,g989,Propriva,Female,21,26,5,47.570392,0
4,912,g989,Propriva,Female,21,26,10,51.745156,0
5,913,g989,Propriva,Female,21,26,10,49.880528,0
6,914,g989,Propriva,Female,21,26,15,51.325852,1
7,915,g989,Propriva,Female,21,26,15,53.442020,0
8,916,g989,Propriva,Female,21,26,20,55.326122,1
9,917,g989,Propriva,Female,21,26,20,54.657650,1
10,918,g989,Propriva,Female,21,26,25,56.045564,1
11,919,g989,Propriva,Female,21,26,30,59.082294,1
12,920,g989,Propriva,Female,21,26,35,62.570880,2

In [67]:
# Drop duplicate from data 
# drop ONLY the duplicate data: combined_df = combined.drop_duplicates(subset=["Mouse ID", "Timepoint"]).reset_index(drop=True)
# alt: invert using combined[~dupe_mice]

# drop the mouse completely? 
combined_df = combined.loc[combined['Mouse ID'] != dupe_id].reset_index(drop=True)
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1875,z969,Naftisol,Male,9,30,25,63.145652,2
1876,z969,Naftisol,Male,9,30,30,65.841013,3
1877,z969,Naftisol,Male,9,30,35,69.176246,4
1878,z969,Naftisol,Male,9,30,40,70.314904,4
1879,z969,Naftisol,Male,9,30,45,73.867845,4

In [73]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
unique_mice = combined[['Mouse ID']]
all_data = pd.merge(unique_mice, combined_df, on="Mouse ID", how='right').drop_duplicates('Mouse ID').reset_index(drop=True)
all_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
1,s185,Capomulin,Female,3,17,0,45.0,0
2,x401,Capomulin,Female,16,15,0,45.0,0
3,m601,Capomulin,Male,22,17,0,45.0,0
4,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
243,z314,Stelasyn,Female,21,28,0,45.0,0
244,z435,Propriva,Female,12,26,0,45.0,0
245,z581,Infubinol,Female,24,25,0,45.0,0
246,z795,Naftisol,Female,13,29,0,45.0,0
247,z969,Naftisol,Male,9,30,0,45.0,0

In [74]:
# Checking the number of mice in the clean DataFrame.
num_mice = len(all_data)
print(f' There are a total of {num_mice} mice')

 There are a total of 248 mice

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen